{% extends "@core/email_layout.twig" %}


{% block content %}

{% set recovery_url = function("site_url", "/ru/cabinet/recovery_password2/?login=" ~ client.email ~ "&code=" ~
	client.recovery_password_code) %}

<div style='text-align: center;' class='auth'>
	<b style='font-size: 20px'>
		Ваш код восстановления пароля от сайта "{{ site_name }}"
	</b>
	<br/>
	<div style='margin-top: 40px; margin-bottom: 20px;' class='auth__password_wrap'>
		<div style='padding: 5px 10px;display: inline-block;background-color: #f8f8f8;border: 1px #ccc solid;
			font-size: 16px;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 20px;' class='auth__password'>
			{{ client.recovery_password_code }}
		</div>
	</div>
	Введите этот код на странице восстановления пароля или перейдите по ссылке:
	<br/>
	<br/>
	<a class='link' href='{{ recovery_url }}'>Перейти на страницу восстановления пароля</a>
</div>

{% endblock %}
